.font-bold, .font-normal {
    font-feature-settings: "kern" 1;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
  }

  .animate-pulse {
  animation: pulse 1s steps(1, end) infinite;
}
